asgiref
attrs
beautifulsoup4
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
idna
Jinja2
MarkupSafe
openpyxl
packaging
pillow
PyJWT
PyMySQL
pytz
redis
requests
six
sqlparse
urllib3
